@inherits LayoutComponentBase

<div class="sidebar">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/registration">Registration</a></li>
        </ul>
    </nav>
</div>

<div class="main p-3">
    @Body
</div>
